.Cpage{
   
    width: 100vw;
    height: 100%;
    background-color: #172525;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(280px,900px));
    grid-row-gap:50px;
  }
.Cp{
    margin: 44px 0;
    width: min(700px,98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Cimg{
    width: 100%;
    border-radius: 23px;
  
  }
  .Cbtn{
    width:20rem ;
    height: 3rem;
    border-radius: 23px;
    margin:20px 0 ;
    font-size: 20px;
  }