.Hpage{
    height: 100vh;
    width: 100vw;
    background-color: #172525;
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.Himage{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid white;
    display: grid;
place-self: center;
}
.Hicons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Coh1{
    color: white;
}
@media only screen and (max-width: 800px) {
    .Himage{
        width: 280px;
        height: 280px;
    }
    
  }
.HIimage{
    /* border: 10px solid blue; */
    background-color: palegreen;
    border-radius: 50%;
}
.Himg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Hdescription{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid white; */
  

}
.Hheading{
    font-size: 1.4rem;
   
}
