/* #root { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
.Wpage{
    background-color:#172525;
    width: 100vw;
    height: 100%;
}
/* .slider{
    border:  2px solid blue;
    width: 100vw;
    height: 50%;
  
} */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border: 2px solid red; */
  background-color: #172525;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  /* border:2px solid orange; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.Wshow{
  
 
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit,minmax(280px,900px));
  grid-row-gap:50px;
}
.Wp{
  margin: 44px 0;
  width: min(700px,98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Wimg{
  width: 100%;
  border-radius: 23px;

}
.Wbtn{
  width:12rem ;
  height: 3rem;
  border-radius: 23px;
  margin:10px 0 ;
  font-size: 20px;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
}